body{
  background: url(beach.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

  h1{
    position: sticky;
    text-align: center;
    width: 1195px;
    height: 144px;
    left: 139px;
    top: 20px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 110px;

    color: #000000;
  }

  button{
    width: 275px;
    height: 102px;
    left: 86px;
    top: 415px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 350.5px;

    position: absolute;
    top: 50%;
  }

  .b1{
    background: #C4C4C4;
    left: 3%;
  }

  .b2{
    background: #9B90C8;
    left: 28%;
  }

  .b3{
    background: #B95757;
    left: 53%;
  }

  .b4{
    background: #3655C5;
    left: 78%;
  }